:root {
    --red: #ef476f;
    --yellow: #ffd166;
    --blue: #118ab2;
    --green: #06d6a0;
    --grey: #073b4c;
    --white: rgb(247,247,247);
    --white-trans: rgba(247,247,247,0.6);
    --black-font: #333;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: var(--green);
    background-image: radial-gradient(#04ab80 0.75px, transparent 0.75px), radial-gradient(#04ab80 0.75px, #06d6a0 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.25);
}